.category-page-container {
    top: -21px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product-img {
    height: 170px;
    object-fit: contain;
}

.item-cart-icon {
    width: 32px;
    height: 32px;
}

.product-skeleton {
    height: 300px;
    background: #e3fce0;
}