.store-location {
    font-size: small;
    color: #83a993;
}

.store-location svg {
    width: 18px;
}

.store-location svg path {
    fill: rgba(255, 255, 255, 0.5);
}

.store-logo {
    /* width: 90px; */
    height: 114px;
    object-fit: contain;
}

.store-name {
    font-size: 18px;
}

.text-skeleton-small {
    height: 14px;
    background: #eeeeee3a;
}

.text-skeleton-heading {
    height: 28px;
    background: #eeeeee3a;
}