.swatch_1 {
    background: #e4e4e4;
}

.swatch_2 {
    background: #bec2b9;
}

.swatch_3 {
    background: #3f2d1f;
}

.swatch_4 {
    background: #065326;
}

.swatch_5 {
    background: #b33216;
}

.swatch_6 {
    background: #639e84;
}

.swatch_7 {
    background: #c9a837;
}